POSTGRES_USER=sentinel
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_DB=savanna_sentinel

MINIO_ACCESS_KEY=sentinel_minio
MINIO_SECRET_KEY=change_me_in_production

SITE_ADDRESS=localhost
MEDIA_SITE_ADDRESS=media.localhost
