{$SITE_ADDRESS:localhost} {
	log {
        output stderr
        format console
    }
	header {
		Content-Security-Policy "default-src 'self'; script-src 'self'; worker-src 'self' blob:; style-src 'self' 'unsafe-inline'; img-src 'self' data: blob: https://{$MEDIA_SITE_ADDRESS:media.localhost}; connect-src 'self' wss: https:; font-src 'self'; object-src 'none'; frame-ancestors 'none';"
		Strict-Transport-Security "max-age=300; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=(self)"

	}
	handle /v1/* {
		reverse_proxy backend:8000
	}
	handle {
		reverse_proxy frontend:80
	}
	
}

{$MEDIA_SITE_ADDRESS:media.localhost} {
	reverse_proxy seaweedfs:9000
}
